.bar {
  box-sizing: border-box;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  width: 15vw;
  height: 100vh;
  padding: 1rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.logo {
  box-sizing: border-box;
  border-radius: 0.75rem;
  padding: 1rem;
  width: 100%;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.navLink {
  text-decoration: none;
  box-sizing: border-box;
  height: 3.6rem;
  padding: 1rem 1.5rem;
  background-color: #514af800;
  color: #53545c;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  transition: 0.2s;
}

.navLink:hover {
  color: #514af8;
  background-color: #514af815;
  cursor: pointer;
}

.navLinkActive {
  text-decoration: none;
  box-sizing: border-box;
  height: 3.6rem;
  padding: 1rem 1.5rem;
  background-color: #514af8;
  color: #ffffff;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navLink img,
.navLinkActive img {
  margin-right: 1.2rem;
}

.navLink span,
.navLinkActive span {
  font-family: Inter;
  font-size: 0.95rem;
  font-weight: 500;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.linksGroup {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.contactLink {
  background-color: #53545c18;
  color: #111111;
  border-radius: 0.75rem;
  padding: 0.85rem 1rem;
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.contactLink:hover {
  background-color: #53545c30;
  cursor: pointer;
}

.contactLink img {
  margin-right: 0.8rem;
}

.contactLink span {
  font-family: Inter;
  font-size: 0.85rem;
  font-weight: 500;
}

.standardPlan {
  background-color: #ff9d2d25;
  color: #111111;
  border-radius: 0.75rem;
  padding: 0.85rem 1rem;
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.standardPlan:hover {
  background-color: #ff9d2d45;
  cursor: pointer;
}

.standardPlan img {
  margin-right: 0.8rem;
}

.standardPlan span {
  font-family: Inter;
  font-size: 0.85rem;
  font-weight: 500;
}

.logout {
  background-color: #ff2d2d15;
  color: #ff2d2d;
  border-radius: 0.75rem;
  padding: 0.85rem 1rem;
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.logout:hover {
  background-color: #ff2d2d25;
  cursor: pointer;
}

.logout img {
  margin-right: 0.8rem;
}

.logout span {
  font-family: Inter;
  font-size: 0.85rem;
  font-weight: 500;
}
